---
---

$black: #333;
$grey: #eee;
$white: #fbfbfb;

html {font-size: 100%;} /*16px*/

body {
  background-color: $white;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.65;
  color: $black;
  margin: 1rem;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}


pre, code {
  font-family: monospace;
  background: $grey;
}




a:any-link {
  color: $black;
}




.site-container {
  max-width: 40rem;
  margin: 0 auto;
}





.site-title {
  text-decoration: none;
}

.site-footer {
  border-top: 1px solid $black;
}

.post-list {
  list-style: none;
  padding: 0;
}


.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-nowrap { flex-wrap: nowrap; }

.padding-right-0-5 { padding-right: 0.5rem; }

img {
  max-width: 100%;
}

tr {
  vertical-align: top;
}

td {
  padding: 0;
  vertical-align: top;
}


.superscript {
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
}
