---
---

$black: #004;
$light-grey: rgba(0, 0, 0, 0.02);

/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 14px;
  line-height: 1.75;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7143;
  color: $black;
  transition: background-color 6s ease;
}

p {
  font-size: 1em; /* 14px */
  line-height: 1.7143; /* 24px */
  margin: 1.7143em 0;
  font-weight: 400;
}

/* 34.84px - The quick brown fox jumps over the lazy dog */
h1 {
  font-size: 2.4886em; /* 34.84px */
  line-height: 1.3777; /* 48px */
  margin: 0.6889em 0;
  font-weight: 400;
}

/* 29.03px - The quick brown fox jumps over the lazy dog */
h2 {
  font-size: 2.0736em; /* 29.03px */
  line-height: 1.6535; /* 48px */
  margin: 0.8267em 0;
  font-weight: 400;
}

/* 24.19px - The quick brown fox jumps over the lazy dog */
h3 {
  font-size: 1.7279em; /* 24.19px */
  line-height: 1.9843; /* 48px */
  margin: 0.9921em 0;
  font-weight: 400;
}

/* 20.16px - The quick brown fox jumps over the lazy dog */
h4 {
  font-size: 1.4400em; /* 20.16px */
  line-height: 1.1905; /* 24px */
  margin: 1.1905em 0;
  font-weight: 400;
}

/* 16.80px - The quick brown fox jumps over the lazy dog */
h5 {
  font-size: 1.2000em; /* 16.80px */
  line-height: 1.4286; /* 24px */
  margin: 1.4286em 0;
  font-weight: 400;
}

/* 11.67px - The quick brown fox jumps over the lazy dog */
small, .text_small {
  font-size: 0.8336em; /* 11.67px */
  line-height: 2.0566; /* 24px */
  margin: 2.0566em 0;
  font-weight: 400;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


pre, code {
  font-family: monospace;
  background: $light-grey;
  overflow-x: auto;
}

pre > code {
  background: rgba(0, 0, 0, 0%);
}


blockquote {
  margin: 0 0 0 2rem;
  font-size: 0.95em;
}



input, textarea {
  background: rgba(0, 0, 0, 0%);
}




a:any-link {
  color: $black;
}


ul, ol { padding-left: 2em; }


.footnotes ol {
  list-style: decimal;
  margin-left: 0;
  padding-left: 2em;

  p {
    margin: 0 0 0.5rem 0;
  }

  .reversefootnote {
    margin-left: 0.3em;
  }
}



.site-container {
  max-width: 40rem;
  margin: 0 auto;
}

.page-meta {
  font-size: 0.9rem;
}

.page-meta:first-of-type {
  margin-bottom: 0;
}

.page-meta + .page-meta {
  margin-top: 0;
}

.site-title {
  text-decoration: none;
}

.site-footer {
  margin: 2rem 0;

  > hr {
    border: none;
    border-top: 1px solid $black;
    margin: 0;
  }
}

.page-list {
  table-layout: fixed;
  padding: 0;
}


.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-nowrap { flex-wrap: nowrap; }

.white-space-nowrap { white-space: nowrap; }

.white-space-break-spaces pre { white-space: break-spaces; }

img {
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 1rem;

  img {
    display: block;
    margin: 0 auto;
  }

  figcaption {
    margin: 1rem 0 0 0;
    font-size: 0.95em;
  }
}

table {
  border-collapse: collapse;
}

tbody > tr:nth-child(2n+1) {
  background: $light-grey;
}

tr {
  vertical-align: top;
}

td, th {
  padding: 0 0.5rem;
  vertical-align: top;
}

.page-tree {
  &, &-links, &-backlinks, ul {
    margin-left: 1rem;
    padding-left: 0;
  }

  &-links {
    list-style-type: '↳';
    margin-top: 0;
    margin-bottom: 0;

    li {
      padding-left: 0.5rem;
    }
  }

  &-backlinks {
    list-style-type: '↑';
    margin-top: 0;
    margin-bottom: 0;

    li {
      padding-left: 0.5rem;
    }
  }
}
