<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {%- include variables.html -%}

  <body>
    <div class="site-container">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><h1>{{ site.title | escape }}</h1></a>

      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>

      {%- assign page_name = page.name | split: '.' | first -%}
      {%- assign links_where_exp = "links[0] == '" | append: page_name | append: "'" -%}
      {%- assign page_backlinks = backlinks | where_exp: "links", links_where_exp | first | last -%}
      {%- assign page_links = links | where_exp: "links", links_where_exp | first | last -%}

      {%- assign linked_pages = page_links | concat: page_backlinks -%}
      {%- if linked_pages.size > 0 -%}
        <h3>Linked pages</h3>
        <ul class="page-tree-links">
          {%- for link in page_links -%}
            {%- assign link_name = link | append: '.md' -%}
            {%- assign subpage = site.pages | where: "name", link_name | first -%}
            <li>
              <a class="page-link" href="{{ subpage.url | relative_url }}">
                {{ subpage.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <ul class="page-tree-backlinks">
          {%- for link in page_backlinks -%}
            {%- assign link_name = link | append: '.md' -%}
            {%- assign subpage = site.pages | where: "name", link_name | first -%}
            <li>
              <a class="page-link" href="{{ subpage.url | relative_url }}">
                {{ subpage.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}


      {%- include footer.html -%}
    </div>

    <script>
      const now = new Date();
      let theta = (3 * (6 * now.getMinutes() + (now.getSeconds() / 10))) % 360;
      const set_background = () => {
        document.body.style.backgroundColor = `hsl(${theta}, 100%, 97%)`;
        theta = (theta + 3.6) % 360;
      }
      window.setInterval(set_background, 20 * 60 * 1000 / 100);
      set_background();
    </script>
  </body>
</html>
