---
layout: default
---
<article class="page h-entry" itemscope itemtype="http://schema.org/WebPage">

  {%- assign date_format = "%Y-%m-%d" -%}
  <header class="page-header">
    <h2 class="page-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    {%- if page.date -%}
      <p class="page-meta">
        Original date:
        <time class="dt-created" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">
          {{ page.date | date: date_format }}
        </time>
      </p>
    {%- endif -%}
    {%- if page.last_modified_at -%}
      <p class="page-meta">
        Last modified:
        <a href="https://github.com/wcerfgba/jpreston.xyz/commits/master/{{ page.path }}" target="_blank" rel="noopener">
          <time class="dt-modified" datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
            {{ page.last_modified_at | date: date_format }}
          </time>
        </a>
      </p>
    {%- endif -%}
  </header>

  {%- assign replaced_content = '' -%}
  {%- assign content_array = content | split: '[[' -%}
  {%- for item in content_array -%}
    {%- assign item_parts = item | split: ']]' -%}
    {%- if item_parts.size < 2 -%}
      {%- assign replaced_content = replaced_content | append: item -%}
    {%- else -%}
      {%- assign link = site.url | append: '/' | append: item_parts[0] | append: '.html' -%}
      {%- assign replaced_content = replaced_content | append: '<a href="' | append: link | append: '">' | append: '[[' | append: item_parts[0] | append: ']]</a>' | append: item_parts[1] -%}
    {%- endif -%}
  {%- endfor -%}
  <div class="page-content e-content" itemprop="mainContentOfPage">
    {{ replaced_content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
