---
layout: default
---
<article class="page h-entry" itemscope itemtype="http://schema.org/WebPage">

  {%- assign date_format = "%Y-%m-%d" -%}
  <header class="page-header">
    <h2 class="page-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="page-meta">
      First published:
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
    </p>
    <p class="page-meta">
      Last modified:
      <time class="dt-modified" datetime="{{ page.modified_at | date_to_xmlschema }}" itemprop="dateModified">
        {{ page.modified_at | date: date_format }}
      </time>
     </p>
  </header>

  <div class="page-content e-content" itemprop="mainContentOfPage">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
